{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="height: 6rem;"></div>
    <div class="row justify-content-center">
        <div class="col-auto" style="width: 21.6rem;">
            <p class="h1 text-dark text-center" style="font-size: 5rem;">
                {% trans 'Happy Birthday' %}
            </p>
            <p class="h1 text-dark text-center">
                {% trans 'Rei' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 12rem;"></div>
    <div class="row justify-content-center">
        <div class="col-auto" style="width: 21.6rem;">
            <p class="h1 text-dark text-center" style="font-size: 5rem;">
                {% trans 'For you.' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 12rem;"></div>
    <div class="row justify-content-center">
        <div class="col-auto" style="width: 21.6rem;">
            <p class="h1 text-dark text-center">
                {% trans 'You are 24 years old now.' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 12rem;"></div>
    <div class="row justify-content-center">
        <div class="col-auto" style="width: 21.6rem;">
            <p class="h1 text-dark text-center">
                {% trans 'Congratulations.' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 12rem;"></div>
    <div class="row justify-content-center">
        <div class="col-auto" style="width: 21.6rem;">
            <p class="h1 text-dark text-center">
                {% trans 'Remember how much we have been through together?' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 12rem;"></div>
    <div class="row justify-content-center">
        <div class="col-auto" style="width: 21.6rem;">
            <p class="h1 text-dark text-center">
                {% trans 'I will always be with you.' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 12rem;"></div>
    <div class="row justify-content-center">
        <div class="col-auto" style="width: 21.6rem;">
            <p class="h1 text-dark text-center">
                {% trans 'I love you.' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 12rem;"></div>
    <div class="row justify-content-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/1.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p>
                <h1 class="text-dark text-right">{% trans 'Chi' %}</h1>
            </p>
        </div>
    </div>
    <div class="row" style="height: 12rem;"></div>
</div>
{% endblock %}