{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid vh-100">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <p class="h1 text-dark text-center" style="font-size: 5rem;">
                {% trans 'Happy Birthday' %}
            </p>
        </div>
    </div>
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <p class="h1 text-dark text-center" style="font-size: 5rem;">
                {% trans 'For you' %}
            </p>
        </div>
    </div>
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <p class="h1 text-dark text-center" style="font-size: 5rem;">
                {% trans 'Rei' %}
            </p>
        </div>
    </div>
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <p class="h1 text-dark text-center" style="font-size: 5rem;">
                {% trans 'You are 24.' %}
            </p>
            <p class="h1 text-dark text-center" style="font-size: 5rem;">
                {% trans 'Wow!' %}
            </p>
        </div>
    </div>
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Remember how much we have been through together this year?' %}
            </p>
        </div>
    </div>
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <p class="h1 text-dark text-center">
                {% trans '2020-05' %}
            </p>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200527/1.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'What were I looking?' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200527/2.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Wow, cool.' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200527/3.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Cute.' %}
            </p>
        </div>
    </div>
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <p class="h1 text-dark text-center">
                {% trans '2020-03' %}
            </p>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200316/1.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Am I a girl?' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200316/2.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Cute you.' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200316/3.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Thai food' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200300/1.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Singing beauty' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200300/2.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Keep singing' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200300/3.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Keep naughty' %}
            </p>
        </div>
    </div>
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <p class="h1 text-dark text-center">
                {% trans '2020-02' %}
            </p>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200204/1.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'I love singing.' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200204/2.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'And this girl.' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200204/3.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Cute' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200204/4.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'and a little crazy.' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200300/2.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Keep singing' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200300/3.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Keep naughty' %}
            </p>
        </div>
    </div>
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <p class="h1 text-dark text-center">
                {% trans '2020-01' %}
            </p>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/1.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'We really love this pose.' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/2.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Waitress: ....' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/3.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Bread' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/4.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Pizza and a weird person' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/6.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Pizza and a weird person - 2' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/7.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Pizza and a weird person' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/5.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Cheer!' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/8.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Steak' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/9.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Looks delicious' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/10.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Looks fat' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/11.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h3 text-dark text-left text-plain">
                {% trans "*'∀')" %}
            </p>
            <p class="h3 text-dark text-right text-plain">
                {% trans '(｡•ㅅ•｡' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/12.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h3 text-dark text-left text-plain">
                {% trans 'Yゝ∀･)' %}
            </p>
            <p class="h3 text-dark text-right text-plain">
                {% trans "Y(｡•ㅅ•｡" %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/13.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h3 text-dark text-left text-plain">
                {% trans '๑^口^๑)' %}
            </p>
            <p class="h3 text-dark text-right text-plain">
                {% trans "Y(｡•ㅅ•｡" %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/14.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Seems professional.' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/15.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Done!' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/16.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Sweet us.' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/17.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Happy you and me.' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/18.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Very happy time.' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/19.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Very happy us.' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/20.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Thank you.' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/21.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Thank god You were born, ' %}
            </p>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'so I could meet You.' %}
            </p>
        </div>
    </div>
    <div class="row" style="height: 10%;"></div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/20200115/21.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'Thank god You were born, ' %}
            </p>
            <p class="h1 text-dark text-center" style="font-size: 4rem;">
                {% trans 'so I could meet You.' %}
            </p>
        </div>
    </div>
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <p class="h1 text-dark text-center" style="font-size: 5rem;">
                {% trans 'Finally, I want to say..' %}
            </p>
        </div>
    </div>
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <p class="h1 text-dark text-center" style="font-size: 3rem;">
                {% trans 'I want to celebrate your every single Birthday with you in the future.' %}
            </p>
        </div>
    </div>
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <p class="h1 text-dark text-center" style="font-size: 5rem;">
                {% trans 'I love you.' %}
            </p>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <div class="photo-frame">
                <img src="{% static 'img/chi.jpg' %}" class="img-fluid fade-in" alt="Responsive image">
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-auto" style="width: 21.6rem;">
            <p class="h1 text-dark text-right">
                {% trans 'Chi ' %}<small class="h5 text-right">{% trans '2020-06' %}</small>
            </p>     
        </div>
    </div>
    <div class="row vh-100 justify-content-center align-items-center">
    </div>
</div>
{% endblock %}