body {
    background-color: rgba(255, 192, 203, .5);
    font-family: 'Parisienne', cursive;
    font-size: larger;
}

.photo-frame {
    filter: opacity(85%);
    border: 8px solid rgba(255, 192, 203, .8);
}
